<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<h1>All Tasks to do !!</h1>
<%= link_to "create new task", tasks_new_path %>

<% @tasks.each do |task|  %>
  <div class="tasks">
  <p><%= task.title %></p>

  <%= link_to "Task Details" , task_path(task.id) %>
    <%= link_to edit_path(task.id) do %>
    <i class="fas fa-pen trash"></i>
  <% end %>
  <%= link_to task_path(task),  method: :delete, data: { confirm: 'are you sure?' } do%>
    <i class="fas fa-trash-alt trash"></i>
    <% end %>
  </div>
<% end %>


